<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:activemq.properties" ignore-unresolvable="true"/>

    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="sessionCacheSize" value="100"/>
        <property name="targetConnectionFactory">
            <bean class="org.apache.activemq.spring.ActiveMQConnectionFactory">
                <property name="brokerURL" value="${activemq_url}"/>
                <property name="userName" value="${activemq_username}"/>
                <property name="password" value="${activemq_password}"/>
            </bean>
        </property>

    </bean>

    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg index="0" value="topic"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="topic"/>
        <property name="pubSubDomain" value="true"/>
    </bean>

    <bean id="defaultMessageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="topic"/>
        <property name="messageListener">
            <bean class="com.demo.activemq.TopicMessageListen"/>
        </property>
    </bean>

</beans>