<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.LogMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.demo.entity.Log">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="remote_addr" property="remoteAddr" jdbcType="VARCHAR"/>
        <result column="request_uri" property="requestUri" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="exception" property="exception" jdbcType="VARCHAR"/>
        <result column="operate_date" property="operateDate" jdbcType="TIMESTAMP"/>
        <result column="timeout" property="timeout" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        type,
        title,
        remote_addr,
        request_uri,
        method,
        params,
        exception,
        operate_date,
        timeout
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="log.id">
        INSERT INTO log (
            id,
            type,
            title,
            remote_addr,
            request_uri,
            method,
            params,
            exception,
            operate_date,
            timeout
        ) VALUES (
            #{log.id,jdbcType=VARCHAR},
            #{log.type,jdbcType=VARCHAR},
            #{log.title,jdbcType=VARCHAR},
            #{log.remoteAddr,jdbcType=VARCHAR},
            #{log.requestUri,jdbcType=VARCHAR},
            #{log.method,jdbcType=VARCHAR},
            #{log.params,jdbcType=VARCHAR},
            #{log.exception,jdbcType=VARCHAR},
            #{log.operateDate,jdbcType=TIMESTAMP},
            #{log.timeout,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="log.id">
        INSERT INTO log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="log.id!=null"> id,</if>
            <if test="log.type!=null"> type,</if>
            <if test="log.title!=null"> title,</if>
            <if test="log.remoteAddr!=null"> remote_addr,</if>
            <if test="log.requestUri!=null"> request_uri,</if>
            <if test="log.method!=null"> method,</if>
            <if test="log.params!=null"> params,</if>
            <if test="log.exception!=null"> exception,</if>
            <if test="log.operateDate!=null"> operate_date,</if>
            <if test="log.timeout!=null"> timeout,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="log.id!=null">#{log.id,jdbcType=VARCHAR},
            </if>
            <if test="log.type!=null">#{log.type,jdbcType=VARCHAR},
            </if>
            <if test="log.title!=null">#{log.title,jdbcType=VARCHAR},
            </if>
            <if test="log.remoteAddr!=null">#{log.remoteAddr,jdbcType=VARCHAR},
            </if>
            <if test="log.requestUri!=null">#{log.requestUri,jdbcType=VARCHAR},
            </if>
            <if test="log.method!=null">#{log.method,jdbcType=VARCHAR},
            </if>
            <if test="log.params!=null">#{log.params,jdbcType=VARCHAR},
            </if>
            <if test="log.exception!=null">#{log.exception,jdbcType=VARCHAR},
            </if>
            <if test="log.operateDate!=null">#{log.operateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="log.timeout!=null">#{log.timeout,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO log (
        <include refid="Base_Column_List"/>
        )VALUES
        <foreach collection="logs" item="log" index="index" separator=",">
            (
            #{log.id,jdbcType=VARCHAR},
            #{log.type,jdbcType=VARCHAR},
            #{log.title,jdbcType=VARCHAR},
            #{log.remoteAddr,jdbcType=VARCHAR},
            #{log.requestUri,jdbcType=VARCHAR},
            #{log.method,jdbcType=VARCHAR},
            #{log.params,jdbcType=VARCHAR},
            #{log.exception,jdbcType=VARCHAR},
            #{log.operateDate,jdbcType=TIMESTAMP},
            #{log.timeout,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE log
        <set>
            <if test="log.id != null"> id= #{log.id,jdbcType=VARCHAR},</if>
            <if test="log.type != null"> type= #{log.type,jdbcType=VARCHAR},</if>
            <if test="log.title != null"> title= #{log.title,jdbcType=VARCHAR},</if>
            <if test="log.remoteAddr != null"> remote_addr= #{log.remoteAddr,jdbcType=VARCHAR},</if>
            <if test="log.requestUri != null"> request_uri= #{log.requestUri,jdbcType=VARCHAR},</if>
            <if test="log.method != null"> method= #{log.method,jdbcType=VARCHAR},</if>
            <if test="log.params != null"> params= #{log.params,jdbcType=VARCHAR},</if>
            <if test="log.exception != null"> exception= #{log.exception,jdbcType=VARCHAR},</if>
            <if test="log.operateDate != null"> operate_date= #{log.operateDate,jdbcType=TIMESTAMP},</if>
            <if test="log.timeout != null"> timeout= #{log.timeout,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{log.id,jdbcType=VARCHAR}
    </update>
</mapper>

